<!DOCTYPE html>
<html lang="en" ng-app="clockApp">
    <head>
        <meta charset="utf-8">
        <title>PomodoroClock</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
        <script src="app.js"></script>
        <script src="clock-controller.js"></script>
        <!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">-->
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <header>
            <h1>Pomodoro clock</h1> 
        </header>

        <main>
            <div ng-controller="ClockController as clock">

                <div>
                    Session length
                    <span class="clock-ctrl" ng-click="changeSessionTime('minus')">-</span>
                    <span>{{ sessionTime }}</span>
                    <span class="clock-ctrl" ng-click="changeSessionTime('plus')">+</span>
                </div>
                <div>
                    Break length
                    <span class="clock-ctrl" ng-click="changeBreakTime('minus')">-</span>
                    <span>{{ breakTime }}</span>
                    <span class="clock-ctrl" ng-click="changeBreakTime('plus')">+</span>
                </div>

                <div class="counter">
                    <div>{{ tmpSessionTime }}</div>
                    <div>{{ tmpBreakTime}}</div>
                </div>

                <button type="button" ng-click="startCounting()">Start</button>
                <button type="button" ng-click="stopCounting()">Pause</button>
                <button type="button" ng-click="resetCounting()">Reset</button>

                <div>
                    <div class="line-container">
                        <div ng-show="showSession" class="session-line" style="height: {{ sessionPercentage }}%;"></div>
                        <div ng-show="!showSession" class="break-line" style="height: {{ breakPercentage }}%;"></div>
                    </div>

                    <div class="laptop">
                        <div class="laptop-monitor">
                            <div class="laptop-webcam"></div>
                            <p class="laptop-logo">NikokoPro</p>

                            <div class="laptop-screen">
                                
                            </div>
                        </div>
                        <div class="laptop-keyboard"></div>
                    </div>
                </div>
            </div> <!-- end of div.ClockController -->
        </main>
        <footer>
            <!--Designed and coded by <a href="https://twitter.com/annikokosheva">Anastasia Oudin</a> -->
        </footer>
    </body>
</html>